In [ ]:

1. Variable Manipulation:
o Define variables to store a student's name, age, GPA, and list of subjects.
o Convert age from years to months and display the result.
o Concatenate and print a sentence using all the defined variables.

In [1]:
name="Dhiraj"

In [6]:
Age=22

In [3]:
GPA=8.5

In [4]:
mark=["DSA","Python","MongoDB","Tabulu"]

In [11]:
months=Age*12

In [12]:
months

264

In [13]:
print(name,Age,GPA,mark,months)

Dhiraj 22 8.5 ['DSA', 'Python', 'MongoDB', 'Tabulu'] 264

# Assignment 2: Data Structures - List, Tuple, Set, and Dictionary

1. Working with Lists:
o Create a list of integers and:
 Append a new number.
 Insert a number at a specific index.
 Remove duplicates and print the final list

In [14]:
numbers=[1,2,3,4,5,6,7]

In [16]:
numbers.append(200)

In [17]:
numbers

[1, 2, 3, 4, 5, 6, 7, 200]

In [18]:
numbers.insert(5,500)

In [20]:
numbers

[1, 2, 3, 4, 5, 500, 6, 7, 200]

In [22]:
numbers.extend([1,4,5,20,7,9,30])

In [23]:
numbers

[1, 2, 3, 4, 5, 500, 6, 7, 200, 1, 4, 5, 20, 7, 9, 30]

In [26]:
num=set(numbers)

In [27]:
num

{1, 2, 3, 4, 5, 6, 7, 9, 20, 30, 200, 500}

In [ ]:
2. Tuple Manipulation:
o Define a tuple of 5 colors.
o Try to add a new color to the tuple (observe and explain why it fails).
o Convert the tuple to a list, add the color, and convert it back to a tuple.

In [28]:
color=('RED','YELLOW','GREEN',"Tomato","Blue")

In [29]:
color.append("Sky-blue")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#tuple is unchangable therefore the append function is not work in tuple opration 
#but if you want to change the tuple then you can convert the tuple to linst and then you can convert the list and 
#again convert to tuple.

In [30]:
tupl=list(color)

In [31]:
tupl[1]="Orange"

In [32]:
color=tuple(tupl)

In [33]:
color

('RED', 'Orange', 'GREEN', 'Tomato', 'Blue')

In [ ]:
3. Set Operations:
o Create two sets of random numbers.
o Find and print their union, intersection, and difference.
o Remove one element from the first set and add a new element.

In [34]:
s1={1,9,3,6,5}
s2={1,3,6,4,2,8}

In [35]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [36]:
s1.intersection(s2)

{1, 3, 6}

In [38]:
s1.difference(s2)

{5, 9}

In [ ]:
4. Dictionary Practice:
o Define a dictionary for a library system with book titles as keys and available 
copies as values.
o Update the count of a specific book after it is borrowed.
o Add a new book to the dictionary and print the updated dictionary.

In [39]:
dict={'Maths':2,'Science':5,"python":6,"react":5}

In [41]:
dict['Science']=4

In [42]:
dict

{'Maths': 2, 'Science': 4, 'python': 6, 'react': 5}

In [43]:
dict['java']=5

In [44]:
dict

{'Maths': 2, 'Science': 4, 'python': 6, 'react': 5, 'java': 5}